dt {
	border-top:5px ridge #008200;
	border-bottom:5px groove #008200;
	font-size:1.2em;
	font-weight:bold;
	margin-top:25px;
}


@media only screen and (min-width: 1100px) {
	dd { margin-right:1%;	}	
}

/*
Exciting. Satisfying. Period.
.
*/