img#logo {
	height:25%;
	width:25%;
	float:left;
}


nav#top {
	width:75%;
	float:right;
}

nav#top ul {
	list-style-type:none;
}

nav#top li {
	float:left;
	margin-right:7px;
}
/*
a {
	text-decoration:none;
	color:white;
}




























/*
nav#top h1 {
	font-size:10em;
	background-color:#008200;
	color:white;
	display:inline;
	border:5px black solid;
	margin-right:3px;
}
*/